.input {
  background: #fbfbfb;
  border: 1px solid rgba(58, 41, 160, 0.5);
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
  padding-left: 0.8rem;
  height: 2.6rem;
  color: inherit;
}
