* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

body,
#__next {
  min-height: 100vh;
  width: calc(100vw - (100vw - 100%));
  overflow-x: hidden;

  overflow-y: auto;

  display: flex;
  flex-direction: column;

  > footer {
    margin-top: auto;
  }
}

a {
  text-decoration: none;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; /*15px*/
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; /*14px*/
  }
}

@media (max-width: 480px) {
  html {
    font-size: 81.25%; /*13px*/
  }
}
